.btn {
  max-width: 162px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: none;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #7297ff;
  cursor: pointer;
}
.btn:focus {
  background-color: #7297ff;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
}

@media screen and (max-width: 560px) {
  .btn {
    width: 120px;
  }
}
